# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


# Arquivos binários e de build
*.o
*.out
*.exe
*.a
*.so
*.dll
space_invaders  # Nome do executável do projeto

# Diretórios de build
/build/
/bin/
/obj/

# Arquivos da biblioteca CLI-lib
/cli-lib/*.o
/cli-lib/*.a

# Arquivos temporários do editor (Ex: Visual Studio Code, Vim)
*.swp
*.swo
*~
*.log
*.tmp

# Arquivos do Visual Studio Code
.vscode/
.history/

# Arquivos de sistema
.DS_Store
Thumbs.db